.section-main {
  .main-card {
    .card {
      width: 20%;
    }
    p {
      margin-bottom: 0;
    }
    img {
      width: 100px;
    }
  }

  .sub-card {
    .card {
      width: 20%;
    }
    p {
      margin-bottom: 0;
    }
    img {
      width: 100px;
    }
  }
}
